.header__logo {
  height: 33px;
  width: 142px;
}
@media screen and (max-width: 907px) {
  .header__logo {
    margin-left: 27px;
  }
}
@media screen and (max-width: 600px) {
  .header__logo {
    height: 24px;
    width: 103px;
  }
}
