.card__like {
  margin-top: 24px;
  margin-left: 25px;
  background: url(../../../images/like.svg) center no-repeat;
  height: 19px;
  width: 23px;
  border: none;
  box-sizing: border-box;
  transition: opacity 0.1s linear 0.1s;
}
.card__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
