.auth-form__submit {
    height: 50px;
    width: 358px;
    background: #FFFFFF;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 216px;
    margin-bottom: 0;
    color: #000000;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    transition: opacity 0.1s linear 0.1s;
}
.auth-form__submit:hover {
    cursor: pointer;
    opacity: 0.8;
}