.popup__input {
  margin: 0;
  border: none;
  border-bottom: 1px solid rgb(0,0,0,0.2);
  height: 37px;
  width: 358px;
  box-sizing: border-box;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-color: #000000;
}

@media screen and (max-width: 600px) {
  .popup__input {
    width: 238px;
  }
}

