.popup__save {
  height: 50px;
  width: 358px;
  background: #000000;
  border-radius: 2px;
  margin-left: 37px;
  margin-right: 0;
  margin-top: 49px;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  transition: opacity 0.1s linear 0.1s;
}
.popup__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popup__save:disabled {
  pointer-events: none;
}

.popup__save_inactive {
  color: #E5E5E5;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .popup__save {
    height: 46px;
    width: 238px;
    margin-top: 44px;
    margin-left: 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
